@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Disable dragging */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Also disable dragging for all images and links */
img, a {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Add to your global CSS file (e.g., index.css or App.css) */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Ensure no parent elements override our z-index */
